<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <virtualType name="Magekc\PayCools\Model\ConfigProvider" type="Magento\Payment\Model\CcGenericConfigProvider">
        <arguments>
            <argument name="methodCodes" xsi:type="array">
                <item name="paycools" xsi:type="const">Magekc\PayCools\Model\Payment::CODE</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="paycools" xsi:type="object">Magekc\PayCools\Model\ConfigProvider</item>
                <item name="paycools_multi_channel" xsi:type="object">Magekc\PayCools\Model\ConfigProviderMulti</item>
            </argument>
        </arguments>
    </type>

    <!-- Map payment method code to its model -->
    <type name="Magento\Payment\Model\Method\Factory">
        <arguments>
            <argument name="methods" xsi:type="array">
                <item name="paycools_multi_channel" xsi:type="string">Magekc\PayCools\Model\PaymentMultiChannel</item>
            </argument>
        </arguments>
    </type>
</config>
